# Development
DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional variables
DB_HOST='lamp-database'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://localhost'
WP_SITEURL="${WP_HOME}/wp"
WP_DEBUG_LOG='/tmp/wp-debug.log'
WP_POST_REVISIONS=3

# Production
PROD_DB_NAME='prod_db_name'
PROD_DB_USER='prod_db_user'
PROD_DB_PASS='prod_db_pass'

PROD_WP_HOME='http://example.com'
PROD_WP_SITEURL="${PROD_WP_HOME}/wp"

# Keys
ACF_PRO_KEY=Your-Key-Here
GFORMS_KEY=Your-Key-Here
WP_ROCKET_KEY=Your-Key-Here
WP_ROCKET_EMAIL=Your-Email-Here

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
