# Development
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

WP_HOME=http://localhost/x/public_html
WP_SITEURL=${WP_HOME}/wp

# Production
PROD_DB_NAME=prod_db_name
PROD_DB_USER=prod_db_user
PROD_DB_PASS=prod_db_pass

PROD_WP_HOME=http://example.com
PROD_WP_SITEURL=${PROD_WP_HOME}/wp

WP_ENV=development

# Keys
ACF_PRO_KEY=Your-Key-Here
GFORMS_KEY=Your-Key-Here
WP_ROCKET_KEY=Your-Key-Here
WP_ROCKET_EMAIL=Your-Email-Here

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
